body {
	background: none repeat scroll 0 0 #FFFFFF;
	border: none;
	font-family: helvetica;
}

/* Configuration des liens */
a {
	color: #136690;
}
a:focus, a:hover, a:active {
	background: none;
	color: #136690;
}
a:hover {
	text-decoration: underline;
	color: #136690;
}

.page {
	width: 980px;
	background: url(img/background.png);
	padding: 0;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            border-bottom-left-radius: 5px;
}

header {
	width: 980px;
	height: 227px;
	position: relative;
}

#contenu {
	background: #FFF url(img/falzar.png) no-repeat bottom right;
	border-right: 1px #000 solid;
	border-left: 1px #000 solid;
	border-bottom: 1px #000 solid;
	margin: 0 auto;
	margin-top: 10px;
	width: 900px;
	border-radius: 10px;
	padding-bottom: 235px;
}

#menuH {
	width: 900px;
	margin: 0 auto;
	height: 34px;
	background: url(img/menuH.png) repeat-x;
	border: 1px #000 solid;
	border-radius: 10px;
	text-align: center;
	-webkit-box-shadow: 0px 1px 10px #878787;
	box-shadow: 0px 1px 10px #878787;
}

#menuH ul {
	margin-top: 5px;
}

#menuH ul li {
	display: inline;
	margin-left: 20px;
}

#patte {
	position: relative;
	background: url(img/patte.png);
	width: 202px;
	height: 191px;
	float: left;
	margin-left: 29px;
	margin-right: 10px;
	margin-top: 10px;
}

#patte a {
	color: #FFF;
}


#patte ul li ul a {
	color: #136690;
}

#patte li {
	padding-left: 5px;
}

#patte a:hover {
	text-decoration: none;
}

#patte li:hover {
	background: #bfd3d7;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
	cursor: pointer;
}

.rotation {
	color: #FFF;
	position: absolute;
	-webkit-transform:rotate(-20deg);
	-moz-transform:rotate(-20deg);
	-o-transform:rotate(-20deg);
	-ms-transform:rotate(-20deg);
	transform:rotate(-20deg);
}

#Sections {
	position: absolute;
	top: 15px;
	left: 40px;
}

#Photo {
	position: absolute;
	top: 95px;
	left: 135px;
}

#Contact {
	position: absolute;
	top: 150px;
	left: 80px;
}

#Club {
	position: absolute;
	top: 40px;
	left: 125px;
}

#news, article {
	float: left;
	width: 640px;
	display: block;
}

#footer {
	background: url(img/citation.png) no-repeat 80%;
	width: 980px;
	height: 156px;
}

#footer p.citation {
	font-size: 24px;
	width: 360px;
	text-align: right;
	color: #878787;
	margin: 0;
	margin-left: 380px;
	padding-top: 50px;
}

.copy {
	margin: 0;
	margin-top: 30px;
	text-align: center;
}

/* niveau de Menu */
.lvl1, .lvl2{
	position: absolute;
	display: none;
	background: #FFF;
	z-index: 2;
	width: 150px;
	border: 1px solid #000;
	padding: 5px;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

/* Formulaire */
input.text, textarea {
	background: #FFF;
	border: 1px #000 solid;
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

input, textarea {
	padding-left: 5px;
}

fieldset h3 {
	margin: 0;
}

label {
	display: inline;
}

span.obligatoire {
	font-weight: bold;
}

.sticky {
    border: 1px solid #990000;
    margin: 10px;
    padding-left: 10px;
    padding-right: 10px;
}

/* Logo du header */
.logo_vp {
	position: absolute;
	top: 30px;
	left: 750px;
	z-index: 999;
	padding: 3px;
	background: rgba(255,255,255,0.5);
	-webkit-border-radius: 5px;
	        border-radius: 5px;
}

/* Page auteur */
.auteur {
	float: left;
	width: 200px;
	margin-top: 20px;
}

.auteur h2 {
	margin: 0;
}

p.explication {
	margin-bottom: 0;
}

#sponsor {
    margin-top: 125px;
    margin-left: 35px;
}
#sponsor h3 {
    margin: 0;
}