[submodule "plugins/Zoundation"]
	path = plugins/Zoundation
	url = https://github.com/phenix-factory/Zoundation.git
[submodule "plugins/courtjus"]
	path = plugins/courtjus
	url = https://github.com/phenix-factory/courtjus.git
[submodule "plugins/spip_array_column"]
	path = plugins/spip_array_column
	url = https://github.com/phenix-factory/spip_array_column.git
