/* Les liens généraux */
a {
  color: #136690; }

/* Positionnement de la page */
#page {
  margin-top: 0;
  width: 100%;
  max-width: 980px;
  padding: 0;
  border: none; }

/* Bordure générale */
#border {
  border: 1px solid #000;
  border-top: none;
  margin-left: 5px;
  margin-right: 5px; }

/* Entête du site */
#entete {
  padding: 0;
  position: relative;
  border: none; }

/* Logo */
#logo_vp {
  position: absolute;
  top: 20px;
  right: 60px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 6;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* Barre de navigation */
#nav {
  background: url(img/menuH.png) repeat-x; }
  #nav ul {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center; }
    #nav ul li {
      display: inline;
      margin-right: 20px; }
