/* Les liens généraux */
a {
  color: #136690; }

.clear {
  clear: both; }

/* Positionnement de la page */
#page {
  margin-top: 0;
  width: 100%;
  max-width: 980px;
  padding: 0;
  border: none; }

/* Bordure générale */
#border {
  border: 1px solid #000;
  border-top: none;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 10px; }

/* Entête du site */
#entete {
  padding: 0;
  position: relative;
  border: none; }

/* Logo */
#logo_vp {
  position: absolute;
  top: 20px;
  right: 60px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 6;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* Barre de navigation principal */
#nav {
  background: url(img/menuH.png) repeat-x;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #nav ul {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center; }
    #nav ul li {
      display: inline;
      margin-right: 20px; }

#menu {
  margin-top: 20px; }

/* CSS général */
h1 {
  font-size: 1.6em; }

h2 {
  font-size: 1.4em; }

h3 {
  font-size: 1.2em; }

ul {
  margin-left: 30px;
  list-style-position: inside; }

input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  margin: 0;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* Contenu */
#contenu-principal {
  padding-top: 20px; }

.page_sommaire h1 {
  font-size: 1em; }
.page_sommaire #news a.right {
  font-size: 0.8em; }
.page_sommaire #news .pagination {
  margin-right: 10px; }
.page_sommaire #alert a.right {
  font-size: 0.8em; }
.page_sommaire #alert #flash {
  color: #b11b15;
  font-size: 1.2em; }

#news {
  margin-top: 10px; }

/* Mise en page des articles */
article {
  display: block;
  margin-bottom: 10px; }

/* Formulaire Obligatoire. */
.obligatoire {
  color: #FF0000; }

/* Système d'alert */
#alert {
  margin-right: 1px;
  margin-left: 1px;
  padding-bottom: 5px;
  border: 1px #FF0000 solid;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #alert h1 {
    font-size: 1em; }

/* Footer du site */
#pied {
  border: none;
  background: none; }

#pied .citation {
  width: 477px;
  height: 156px;
  float: right;
  background: url(img/citation.png) no-repeat right;
  font-size: 1.4em;
  padding-top: 50px;
  padding-right: 160px;
  padding-left: 30px;
  text-align: right;
  color: #878787; }

/* Les galerie d'images */
#documents_portfolio ul {
  margin: 0;
  list-style: none; }
  #documents_portfolio ul li {
    float: left;
    line-height: 0;
    margin: 3px; }

/* Logo SPIP */
.spip_logos {
  margin-bottom: 20px; }

.formulaire_spip input.text {
  width: 100%; }
