/* Les liens généraux */
a {
  color: #136690; }

/* Positionnement de la page */
#page {
  margin-top: 0;
  width: 100%;
  max-width: 980px;
  padding: 0;
  border: none; }

/* Bordure générale */
#border {
  border: 1px solid #000;
  border-top: none;
  margin-left: 5px;
  margin-right: 5px; }

/* Entête du site */
#entete {
  padding: 0;
  position: relative;
  border: none; }

/* Logo */
#logo_vp {
  position: absolute;
  top: 20px;
  right: 60px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 6;
  -webkit-border-radius: 5px;
  border-radius: 5px; }

/* Barre de navigation principal */
#nav {
  background: url(img/menuH.png) repeat-x;
  border: 1px solid #000;
  -webkit-border-radius: 5px;
  border-radius: 5px; }
  #nav ul {
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center; }
    #nav ul li {
      display: inline;
      margin-right: 20px; }

/* Menu Patte */
#patte {
  position: relative;
  background: url(img/patte.png);
  width: 202px;
  height: 191px; }
  #patte p {
    color: #FFF;
    position: absolute;
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg); }
  #patte a {
    color: white; }
  #patte a:hover {
    text-decoration: none; }
  #patte li {
    padding-left: 5px; }
  #patte li:hover {
    background: #bfd3d7;
    cursor: pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  #patte ul {
    list-style: none; }
    #patte ul li ul a {
      color: #136690; }
  #patte .lvl1, #patte .lvl2 {
    position: absolute;
    display: none;
    background: #FFF;
    z-index: 2;
    width: 250px;
    padding: 5px;
    border: 1px solid #000;
    -webkit-border-radius: 5px;
    border-radius: 5px; }
  #patte #Sections {
    position: absolute;
    top: 15px;
    left: 40px; }
  #patte #Photo {
    position: absolute;
    top: 95px;
    left: 135px; }
  #patte #Contact {
    position: absolute;
    top: 150px;
    left: 80px; }
  #patte #Club {
    position: absolute;
    top: 40px;
    left: 125px; }
