/* line 15, ../sass/perso.scss */
body {
  font-size: 1em;
}

/* Les liens generaux */
/* line 20, ../sass/perso.scss */
a {
  color: #136690;
}

/* line 24, ../sass/perso.scss */
.clear {
  clear: both;
}

/* line 28, ../sass/perso.scss */
.row {
  max-width: 100%;
}

/* Positionnement de la page */
/* line 33, ../sass/perso.scss */
#page {
  margin-top: 0;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

/* Bordure generale */
/* line 43, ../sass/perso.scss */
#border {
  border: 1px solid #000;
  border-top: none;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
}

/* Entete du site */
/* line 52, ../sass/perso.scss */
#entete {
  padding: 0;
  position: relative;
  border: none;
}

/* Logo */
/* line 59, ../sass/perso.scss */
#logo_vp {
  position: absolute;
  top: 20px;
  right: 60px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 6;
  padding: 3px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 69, ../sass/perso.scss */
#menu {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #262626;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 81, ../sass/perso.scss */
#menu li ul {
  max-height: 0;
  overflow: hidden;
  -webkit-transition-property: max-height;
  -moz-transition-property: max-height;
  -o-transition-property: max-height;
  transition-property: max-height;
  -webkit-transition-duration: 1s;
  -moz-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
}
/* line 88, ../sass/perso.scss */
#menu li:hover > ul {
  max-height: 500px;
}

/* CSS general */
/* line 96, ../sass/perso.scss */
h1 {
  font-size: 1.6em;
}

/* line 99, ../sass/perso.scss */
h2 {
  font-size: 1.4em;
}

/* line 102, ../sass/perso.scss */
h3 {
  font-size: 1.2em;
}

/* line 106, ../sass/perso.scss */
ul {
  margin-left: 30px;
  list-style-position: inside;
}

/* line 124, ../sass/perso.scss */
input[type="text"],
input[type="password"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="month"],
input[type="week"],
input[type="email"],
input[type="number"],
input[type="search"],
input[type="tel"],
input[type="time"],
input[type="url"],
textarea {
  margin: 0;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* Contenu */
/* line 130, ../sass/perso.scss */
#contenu-principal {
  padding-top: 20px;
}

/* line 136, ../sass/perso.scss */
.page_sommaire #news a.right {
  font-size: 0.8em;
}
/* line 139, ../sass/perso.scss */
.page_sommaire #news .pagination {
  margin-right: 10px;
}
/* line 143, ../sass/perso.scss */
.page_sommaire #header_news {
  clear: both;
}
/* line 146, ../sass/perso.scss */
.page_sommaire #header_news a.right {
  font-size: 0.8em;
}
/* line 150, ../sass/perso.scss */
.page_sommaire #header_news h1 {
  font-size: 1.2em;
  padding-left: 0.9375em;
}
/* line 155, ../sass/perso.scss */
.page_sommaire #header_news #flash {
  color: #b11b15;
}

/* line 161, ../sass/perso.scss */
#news {
  margin-top: 10px;
}

/* Mise en page des articles */
/* line 166, ../sass/perso.scss */
article {
  display: block;
  margin-bottom: 10px;
}
/* line 170, ../sass/perso.scss */
article .ps {
  font-style: italic;
  font-size: 0.8em;
}

/* Formulaire Obligatoire. */
/* line 177, ../sass/perso.scss */
.obligatoire {
  color: #FF0000;
}

/* Systeme d alert */
/* line 182, ../sass/perso.scss */
.alerte {
  padding-bottom: 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 185, ../sass/perso.scss */
.alerte h1 {
  font-size: 1em;
}

/* Footer du site */
/* line 191, ../sass/perso.scss */
#pied {
  border: none;
  background: none;
}

/* line 196, ../sass/perso.scss */
#pied .citation {
  width: 477px;
  height: 156px;
  float: right;
  background: url(img/citation.png) no-repeat right;
  font-size: 1.4em;
  padding-top: 50px;
  padding-right: 160px;
  padding-left: 30px;
  text-align: right;
  color: #878787;
}

/* Les galerie d images */
/* line 211, ../sass/perso.scss */
#documents_portfolio ul {
  margin: 0;
  list-style: none;
}
/* line 214, ../sass/perso.scss */
#documents_portfolio ul li {
  float: left;
  line-height: 0;
  margin: 3px;
}

/* Logo SPIP */
/* line 227, ../sass/perso.scss */
.spip_logos {
  margin-bottom: 20px;
}

/* line 231, ../sass/perso.scss */
.ui-widget {
  z-index: 1;
  width: 200px;
}

/* Cette parie de foundation brise les noix */
/* line 237, ../sass/perso.scss */
[class*="column"] + [class*="column"]:last-child {
  float: left;
}

/* line 241, ../sass/perso.scss */
.agenda {
  float: right;
}
/* line 243, ../sass/perso.scss */
.agenda ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 248, ../sass/perso.scss */
.agenda .evenement {
  border: 1px solid #0049a8;
  padding: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 254, ../sass/perso.scss */
.agenda .evenement p {
  margin: 0;
}

/* line 260, ../sass/perso.scss */
.formulaire_newsletter {
  border: none;
  padding: 0;
}
