/* line 13, ../sass/perso.scss */
body {
  font-size: 1em;
}

/* Les liens generaux */
/* line 18, ../sass/perso.scss */
a {
  color: #136690;
}

/* Positionnement de la page */
/* line 23, ../sass/perso.scss */
#page {
  margin-top: 0;
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  padding: 0;
  border: none;
}

/* Bordure generale */
/* line 33, ../sass/perso.scss */
#border {
  border: 1px solid #000;
  border-top: none;
  margin-left: 5px;
  margin-right: 5px;
  padding-bottom: 10px;
}

/* Entete du site */
/* line 42, ../sass/perso.scss */
#entete {
  padding: 0;
  position: relative;
  border: none;
}

/* Logo */
/* line 49, ../sass/perso.scss */
#logo_vp {
  position: absolute;
  top: 20px;
  right: 60px;
  background: rgba(255, 255, 255, 0.5);
  z-index: 6;
  padding: 3px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* line 60, ../sass/perso.scss */
#nav .columns {
  padding-left: 0;
  padding-right: 0;
}

/* CSS general */
/* line 69, ../sass/perso.scss */
h1 {
  font-size: 1.6em;
}

/* line 72, ../sass/perso.scss */
h2 {
  font-size: 1.4em;
}

/* line 75, ../sass/perso.scss */
h3 {
  font-size: 1.2em;
}

/* line 79, ../sass/perso.scss */
ul {
  margin-left: 30px;
  list-style-position: inside;
}

/* line 85, ../sass/perso.scss */
input,
textarea {
  margin: 0;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}

/* Contenu */
/* line 91, ../sass/perso.scss */
#contenu-principal {
  padding-top: 20px;
}

/* line 97, ../sass/perso.scss */
.page_sommaire #news a.right {
  font-size: 0.8em;
}
/* line 100, ../sass/perso.scss */
.page_sommaire #news .pagination {
  margin-right: 10px;
}
/* line 104, ../sass/perso.scss */
.page_sommaire #header_news {
  clear: both;
}
/* line 107, ../sass/perso.scss */
.page_sommaire #header_news a.right {
  font-size: 0.8em;
}
/* line 111, ../sass/perso.scss */
.page_sommaire #header_news h1 {
  font-size: 1.2em;
  padding-left: 0.9375em;
}
/* line 116, ../sass/perso.scss */
.page_sommaire #header_news #flash {
  color: #b11b15;
}

/* line 122, ../sass/perso.scss */
#news {
  margin-top: 10px;
}

/* Mise en page des articles */
/* line 127, ../sass/perso.scss */
article {
  display: block;
  margin-bottom: 10px;
}
/* line 131, ../sass/perso.scss */
article .spip_logos {
  float: none;
}
/* line 134, ../sass/perso.scss */
article table {
  width: 100%;
}
/* line 139, ../sass/perso.scss */
article .ps p {
  font-style: italic;
  font-size: 0.8em;
}

/* Formulaire Obligatoire. */
/* line 147, ../sass/perso.scss */
.obligatoire {
  color: #FF0000;
}

/* Systeme d alert */
/* line 152, ../sass/perso.scss */
.alerte {
  padding-bottom: 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 155, ../sass/perso.scss */
.alerte h1 {
  font-size: 1em;
}

/* Footer du site */
/* line 161, ../sass/perso.scss */
#pied {
  border: none;
  background: none;
}

/* Logo SPIP */
/* line 167, ../sass/perso.scss */
.spip_logos {
  margin-bottom: 20px;
}

/* line 173, ../sass/perso.scss */
.agenda ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
/* line 179, ../sass/perso.scss */
.agenda .evenement {
  border: 1px solid #0049a8;
  padding: 10px;
  margin-bottom: 5px;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
}
/* line 185, ../sass/perso.scss */
.agenda .evenement p {
  margin: 0;
}

/* line 191, ../sass/perso.scss */
.formulaire_newsletter {
  border: none;
  padding: 0;
}
/* line 194, ../sass/perso.scss */
.formulaire_newsletter ul {
  margin-left: 0;
}

/* line 199, ../sass/perso.scss */
#slick {
  margin-bottom: 0;
}
/* line 201, ../sass/perso.scss */
#slick .slick-prev:before, #slick .slick-next:before {
  color: #000;
}
